<!DOCTYPE html>
<html th:replace="~{layout/adminLayout :: layout(~{::main})}"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container mt-5">

        <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal"
                data-bs-target="#bookModal">
            Add New Book
        </button>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Books List</h4>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr >
                            <th>Id</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>ImageUrl</th>
                            <th>Stock</th>
                            <th>YearPublished</th>
                            <th>Author Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="boo : ${books}">
                            <td th:text="${boo.id}"></td>
                            <td th:text="${boo.title}"></td>
                            <td th:text="${boo.price}"></td>
                            <td th:text="${boo.imageUrl}"></td>
                            <td th:text="${boo.stock}"></td>
                            <td th:text="${boo.yearPublished}"></td>
                            <td th:text="${boo.author.authorName}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:object="${book}"  th:action="@{/admin/books}"
                          method="post">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select th:field="*{category.id}" class="form-control">
                                    <option  th:each="cat :${categories}" th:value="${cat.id}"
                                             th:text="${cat.categoryName}"/>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Author</label>
                                <select th:field="*{author.id}" class="form-control">
                                    <option  th:each="auth :${authors}" th:value="${auth.id}"
                                             th:text="${auth.authorName}"/>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Title</label>
                                <input type="text"
                                       th:field="*{title}"
                                       class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Price</label>
                                <input type="number" step="any"
                                       th:field="*{price}"
                                       class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">ImageUrl</label>
                                <input type="text"
                                       th:field="*{imageUrl}"
                                       class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Stock</label>
                                <input type="number"
                                       th:field="*{stock}"
                                       class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">YearPublished</label>
                                <input type="date"
                                       th:field="*{yearPublished}"
                                       class="form-control">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>